/* :root {
  --color-off-white: #fffdfa;
  --color-grayish-blue: #c5c6ce;
  --color-dark-grayish-blue: #5d5f79;
  --color-very-dark-blue: #00001a;
  --color-soft-red: #f15e50;
  --color-Soft-orange: #e9ab53;
  --font-inter: "inter", sans-serif;
} */
